<!--
<p>{{"Hello World" | uppercase}}</p>
<p>{{"Hello World" | lowercase}}</p>

<p>{{mydate | date}}</p>

<p>{{11 | currency}}</p>

<p>{{11.2229999 | number}}</p>

<p>{{emp | json}}</p>

<p>{{cities | slice:0:5}}</p>

<p>{{2 | demopipe }}</p>

<p>{{"HELLO WORLD" | capitalize}}</p>
-->
<!--
<h2>Two way data binding</h2>
<p>Value of mydata variable : {{mydata}}</p>
<input type="text" [(ngModel)]="myname" />
<br />
<button (click)="hello()">Click</button>
<br />
THIS IS DATA BINDING : {{myname}}
-->

<h2>Registration Form</h2>
<form #myform="ngForm" (ngSubmit)="formHello(myform.value)"> 
  <input type = "text" placeholder="Name" name="txtname" ngModel required/><br/><br/>

  <input type = "email" placeholder="Email" name="txtname" ngModel required/><br/><br/>

  <input type = "number" placeholder="Age" name="txtname" ngModel required/><br/><br/>

  <input type = "text" placeholder="Username" name="txtname" ngModel required/><br/><br/>

  <input type = "password" placeholder="Password" name="txtname" ngModel required/><br/><br/>
  
  <input type = "submit"/>
</form>



